name: llnynopsys

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [self-hosted]

    env:
      MACOSX_BRIDGE_URL: "https://sig-repo.synopsys.com/artifactory/bds-integrations-release/com/synopsys/integration/synopsys-action/0.1.61/ci-package-0.1.61-macosx.zip"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Synopsys Application Security Testing
        uses: synopsys-sig/synopsys-action@main
        with:
          synopsys_bridge_path: /tmp/synopsys-bridge
          bridge_download_url: ${{ env.MACOSX_BRIDGE_URL }}

          polaris_serverUrl: ${{ secrets.POLARIS_URL }}
          polaris_accessToken: ${{ secrets.POLARIS_ACCESS_TOKEN }}
          polaris_application_name: "synopsys-action-demo"
          polaris_project_name: "synopsys-action-demo"
          polaris_assessment_types: '["SAST", "SCA"]'

